@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.roadmap {
  margin-top: 110.22px;
  padding: 0 375px;
}
.roadmap__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: capitalize;
  color: #ca2ff2;
  text-align: center;
  margin-bottom: 15.46px;
}
.roadmap__lines {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 4.73px;
  margin-bottom: 30.74px;
}
.roadmap__lines span:nth-child(1)::before {
  content: "";
  display: block;
  width: 46.24px;
  height: 4.81px;
  background: #FF4A4A;
  border: 1px solid #FF4A4A;
  border-radius: 5px;
}
.roadmap__lines span::before {
  content: "";
  display: block;
  width: 60.7px;
  height: 5px;
  background: #FF4A4A;
  border: 1px solid #FF4A4A;
  border-radius: 5px;
}
.roadmap__subtitle {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-transform: undefined;
  color: #313131;
  text-align: center;
  margin-bottom: 89.41px;
}

.roadmap_content {
  position: relative;
  right: 1.2%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.roadmap_content ul:nth-child(1) {
  position: relative;
  top: 255px;
  left: 25px;
  text-align: right;
}
.roadmap_content ul:nth-child(1) li {
  text-align: right;
}
.roadmap_content ul:nth-child(3) {
  position: relative;
  top: 60px;
  right: 25px;
}
.roadmap_content ul:nth-child(3) li {
  text-align: left;
}
.roadmap_content__list {
  padding: 19px 25px;
  margin-bottom: 192.75px;
  width: 459.6px;
  height: 192.75px;
  background-color: #fff;
  border: 0.3000000119px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(221, 221, 221, 0.5);
  transition: 0.35s;
}
.roadmap_content__list:hover {
  border-radius: 4px;
  border-bottom: 1px solid #FF4A4A;
  background: url("../image/bg.png") center no-repeat;
}
.roadmap_content__list:hover p:nth-child(1) {
  color: #FF014F;
}
.roadmap_content__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: capitalize;
  color: #1e2d48;
  margin-bottom: 10.77px;
  transition: 0.35s;
}
.roadmap_content__subtitle {
  font-size: 15px;
  line-height: 25px;
  text-transform: undefined;
  color: #313131;
  margin-bottom: 21.91px;
  transition: 0.35s;
}
.roadmap_content__link {
  padding: 7.14px 25.5px;
  border: 1px solid #ff4a4a;
  border-radius: 100px;
  box-shadow: 4px 4px 8px 0 rgba(84, 84, 84, 0.12);
  transition: 0.35s;
}
.roadmap_content__link span {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  color: #313131;
  transition: 0.35s;
}
.roadmap_content__link:hover span {
  color: #ff4a4a;
}
.roadmap_content__link:active {
  border: 1px solid #FF014F;
  background: #FF014F;
  box-shadow: 4px 4px 8px rgba(84, 84, 84, 0.12);
  border-radius: 100px;
}
.roadmap_content__link:active span {
  color: #FFFFFF;
}