@import '../../styles/scss/Imports.scss';

.auction {
    margin-top: 110px;
    padding: 0 375px;

    &__title {
        font-size: 16px;
        color: #ff014f;
        text-align: center;
    }

    &__subtitle {
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        color: #1e2d48;
        text-align: center;
        margin-bottom: 50px;
    }

    .auction_columns {
        font-family: $ff1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;

        &__list {
            padding: 20px;
            width: 370px;
            height: 449.72px;
            background-color: #fff;
            border: 0.5px solid #e3e3e3;
            box-shadow: 0 0 30px 0 #ddd;
            margin-bottom: 30px;
            transition: $tr;

            &:hover {
                scale: 1.02;

                p {
                    &:nth-child(2) {
                        color: $color2;
                    }
                }
            }
        }

        &__img {}

        &__product_live {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
        }

        &__profile {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__ETH {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        button {
            width: 100%;
            margin-top: 30px;
            transition: $tr;
        }
    }
}

.name {
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: #1e2d48;
    font-weight: 500;
}

.profile_link {
    margin-left: 70px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-transform: lowercase;
    color: #313131;
}

.crypto {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    color: #1e2d48;
}

.button {
    padding: 10px 37px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #313131;
    border-radius: 20px;
    color: #313131;
    transition: $tr;

    &:hover {
        background-color: $color2;
    }

    &:active {
        background-color: $color2;
        color: $color4;
        border: 1px solid $color2;
    }
}