@import '../../../styles/scss/Imports.scss';

.blog {
    padding: 0 375px;

    &__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        text-transform: capitalize;
        color: #1e2d48;
        text-align: center;
        margin-top: 110.57px;
        margin-bottom: 21px;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #313131;
    }

    .blog_news {

        &__column {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 30.4px;
            grid-row-gap: 0px;
        }

        &__list {
            padding-bottom: 18.7px;
            background: #FFFFFF;
            border: 0.5px solid #E3E3E3;
            box-shadow: 0px 0px 10px rgba(221, 221, 221, 0.5);
            transition: $tr;
        }

        &__data {
            position: relative;
            bottom: 30px;
            font-size: 16px;
            line-height: 20px;
            color: #000;
            text-align: right;
            transform: rotate(-9.93deg);
            transition: $tr;
        }

        &__title {
            padding: 0 47px;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
            color: #1e2d48;
            margin-bottom: 10.83px;
            transition: $tr;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #313131;
            margin-bottom: 42.8px;
            transition: $tr;
        }

        &__button {
            position: relative;
            left: 29%;
            padding: 10px 34px;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;
            color: #313131;
            border: 1px solid #313131;
            border-radius: 20px;
            background-color: transparent;
            transition: $tr;

            &:hover {
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                text-align: center;
                color: #fff;
                background: #FF014F;
                border-radius: 20px;
            }
        }
    }

    .blog_slider {
        margin-top: 50.48px;
        position: relative;
        left: 35px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin-right: 30px;
            cursor: pointer;
            transition: $tr;

            &:nth-child(1) {
                content: '';
                display: block;
                background: url('../image/arrow2-left.png') center no-repeat;
                width: 40px;
                height: 40px;
                box-shadow: 0 0 10px 0 rgba(221, 221, 221, 0.5);
                border-radius: 50%;
                transition: $tr;
            }

            &:nth-child(2) {
                &::before {
                    content: '';
                    display: block;
                    background: url('../image/arrow1-right.png') center no-repeat;
                    width: 40px;
                    height: 40px;
                    box-shadow: 0 0 10px 0 rgba(221, 221, 221, 0.5);
                    border-radius: 50%;
                    transition: $tr;
                }
            }

            &:hover {

                &:nth-child(1) {
                    content: '';
                    display: block;
                    background: $color2 url('../image/arrow1-left.png') center no-repeat;
                    width: 40px;
                    height: 40px;
                    box-shadow: 0 0 10px 0 rgba(221, 221, 221, 0.5);
                    border-radius: 50%;
                }

                &:nth-child(2) {
                    &::before {
                        content: '';
                        display: block;
                        background: $color2 url('../image/arrow2-right.png') center no-repeat;
                        width: 40px;
                        height: 40px;
                        box-shadow: 0 0 10px 0 rgba(221, 221, 221, 0.5);
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}