// Main colors
$color1: #C4C4C4;
$color2: #FF014F;
$color3: #1E2D48;
$color4: #FFFFFF;
$color5: #000000;
$color6: #313131;
$color7: #E3E3E3;
$color8: #FF4A4A;
$color9: #CA2FF2;
$color10:#DEDEDE;

// Main Bg Colors
$bgc1: #E3E3E3;
$bgcl: linear-gradient(90deg, rgba(89, 40, 137, 1) 0%, rgba(50, 35, 114, 1) 100%);
$bgcl1: linear-gradient(180deg, rgba(30, 30, 70, 1) 0%, rgba(38, 21, 100, 1) 24%, rgba(47, 21, 140, 1) 78%, rgba(28, 0, 136, 1) 100%);

// Main paddings
$pd1: 0px 375px;

// Main fonts
$ff1: 'DM Sans',
sans-serif;
$ff2: 'Roboto',
sans-serif;

// Transition
$tr: 0.35s;
$tr1: 0.65s;