@import '../css/nullstyle.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.collection {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  margin-top: 110px;
  padding: 0 352px;
}
.collection .nft-collection {
  text-align: center;
}
.collection .nft-collection__profile-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
  margin-bottom: 10px;
  transition: 0.35s;
}
.collection .nft-collection__list {
  width: 370px;
  height: 480px;
  background-color: #fff;
  border: 0.5px solid #e3e3e3;
  box-shadow: 0 0 10px 0 rgba(221, 221, 221, 0.5);
  margin-right: 30px;
  text-align: center;
  transition: 0.35s;
}
.collection .nft-collection__list:hover {
  scale: 1.02;
}
.collection .nft-collection__slider {
  padding: 0 11px;
  margin-bottom: 30px;
  transition: 0.35s;
}
.collection .nft-collection__avatar {
  margin-bottom: 10px;
  transition: 0.35s;
}
.collection .nft-collection__bio {
  margin-bottom: 30px;
  font-size: 16px;
  text-align: center;
  color: #313131;
  transition: 0.35s;
}
.collection .nft-collection__btn {
  padding: 10px 37px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #313131;
  border-radius: 20px;
  color: #313131;
  transition: 0.35s;
}
.collection .nft-collection__btn:hover {
  background-color: #FF014F;
}
.collection .nft-collection__btn:active {
  background-color: transparent;
  color: #FF014F;
  border: 1px solid #FF014F;
}
.collection .nft-collection__link {
  transition: 0.35s;
}
.collection .nft-art__name {
  margin-top: 110px;
}
.collection .nft-art__subtitile {
  margin-top: 20px;
  margin-bottom: 50.8px;
  text-align: center;
}
.collection .nft-art__columns {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.collection .nft-art__columns li:nth-child(2) img:nth-child(1) {
  position: relative;
  top: 20px;
}
.collection .nft-art__columns li:nth-child(2) img:nth-child(2) {
  position: relative;
  top: -68.49px;
}
.collection .nft-art__columns li:nth-child(3) img:nth-child(1) {
  position: relative;
  top: -48.49px;
}
.collection .nft-art__columns li:nth-child(3) img:nth-child(2) {
  position: relative;
  top: -68.49px;
}
.collection .nft-art__columns li:nth-child(3) img:nth-child(3) {
  position: relative;
  top: -68.49px;
}
.collection .nft-art__columns li:nth-child(3) img:nth-child(4) {
  position: relative;
  top: -68.49px;
}
.collection .nft-art__list {
  width: 1270px;
}
.collection .nft-art__image {
  margin-right: 18px;
  transition: 0.35s;
}
.collection .nft-art__image:hover {
  scale: 1.02;
}

.app-title {
  color: #ff014f;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  transition: 0.35s;
}

.app-name {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #1E2D48;
  margin-bottom: 50px;
  text-align: center;
  transition: 0.35s;
}
.app-name span {
  transition: 0.35s;
}
.app-name img {
  position: relative;
  left: 11px;
  transition: 0.35s;
  opacity: 0;
}
.app-name:hover span {
  color: #FF014F;
  border-bottom: 1px solid #FF014F;
  cursor: pointer;
}
.app-name:hover img {
  opacity: 1;
  transform: translateY(23px);
}

.app-column {
  display: flex;
}

.app-link {
  margin-top: 50px;
  margin-bottom: 110px;
  text-align: center;
  transition: 0.35s;
}
.app-link a {
  padding: 15px 30px;
  background-color: #ff014f;
  border-radius: 30px;
  transition: 0.35s;
}
.app-link span {
  margin-top: 50px;
  margin-bottom: 110px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
  transition: 0.35s;
}
.app-link:hover a {
  box-shadow: 0px 5px 1px 2px rgba(34, 34, 34, 0.89);
}
.app-link:active {
  transform: translateY(2px);
}
.app-link:active a {
  box-shadow: 0px 2px 1px 2px rgba(34, 34, 34, 0.89);
  transition: 0.35s;
}

.app-subtitle {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #313131;
}